body{
    margin: 0px;
}

h1{
    color: #fff;
}
span{
    color: rgb(5, 255, 93)
}
h3 span{
    color: grey;
}

.container{
    color: #fff;
    display: flex;
    background-color: rgb(28, 28, 91);
    height: 775px;

}
.nav{
    width: 600px;
    display: flex;
    justify-content: space-between;
}
.links{
    width: 300px;
    display: flex;
    justify-content: space-around;
    margin-top: 35px;
}
a{
    color: #fff;
    text-decoration: none;

}
.right{
    width: 600px;
}
.btn{
    color: white;
    margin-top: 21px;
    margin-left: 740px;
    text-align: center;
    padding-top: 15px;
    justify-content: flex-end;
    background-color: rgb(18, 18, 221);
    width: 100px;
    height: 40px;
    border-radius: 10px;
}
.about_me .btn{
    margin-top: 0px;
    padding-top: 5px;
    margin-left: 0px;
    height: 30px;
    width: 90;
}
.img{
    text-align: center;
    margin: 0 auto;
}
.img img{
    margin-top: 90px;
    margin-left: 290px;
    width: 370px;
    height: 500px;

}
.ico img{
    margin-left: 30px;
    margin-top: 20px;
    width: 50px;
    height: 50px;
}
.about_me{
    margin-left: 200px;
    margin-top: 100px;
}